<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>js</title>
    {#    添加jQuery#}
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
</head>
<body>
<input id="name" type="text" placeholder="请输入">
<button id="button1">Ajax GET</button><br>
<button id="button2">Ajax POST</button><br>
{#  另一种写法，指定方法名称为getTest() #}
<button onclick="getTest()">get另外一种写法</button>
<script>
    //文件加载完成之后执行
    $(function () {
        // 开始写 jQuery 代码...
        $("#button1").click(function () {
            //获取输入框中的值
            var name = $("#name").val();
            alert(name);
            $.get("ajax/get?name=" + name, function (res) {
                alert("数据: " + res.data + "\n状态: " + res.status);
            });

        });
        {# $.post(URL,data,callback); #}
        $("#button2").click(function () {
            $.post("/ajax/post",
                {
                    name: "cong",
                    url: "https://qbmzc.github.io/"
                },
                function (res) {
                    alert("数据: \n" + res.data + "\n状态: " + res.status);
                });
        });
    });

     function getTest() {
            $.ajax({
                type: 'GET', //方法类型为GET
                url: '/ajax/get',
                dataType: 'json',
                data: {'name': 'cong'},
                success: function (res) {
                    alert(res.data+res.status);
                    //浏览器控制台打印日志
                    console.log(res)
                },
                error: function () {
                    consle.log('error')
                }
            })
        }
</script>
</body>
</html>